// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
$baseColor: rgb(50, 100, 175);

header {
  font-family: Helvetica, Arial, sans-serif;
  background-color: lighten($baseColor, 60%);
  border: 1px solid darken($baseColor, 10%);
  color: $baseColor;
}
*/